#https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyrofork==2.3.61
pyrogram==2.0.106
tgcrypto
typing-extensions==4.7.1
pyromod==1.5
schedule
APscheduler
uvloop
# --- For-Database ------------ #
pymongo
motor
dnspython
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Web-Response ------- #
pytz
requests
bs4
aiofiles
asyncio
